{% extends "base.njk" %}

{% block pageTitle %}Cookies policy – {{ config.SERVICE_NAME }} – GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Cookies policy</h1>
      <h2 class="govuk-heading-l">Cookies policy</h2>

      <h3 class="govuk-heading-m">You can get more details on:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Agreements we have with other organisations for sharing information;</li>
        <li>Circumstances where we can pass on personal information without telling you, for example, to help with the prevention or detection of crime or to produce anonymised statistics;</li>
        <li>Our instructions to staff on how to collect, use or delete your personal information;</li>
        <li>How we check that the information we hold is accurate and up-to-date; and</li>
        <li>How to make a complaint.</li>
      </ul>
    </div>
  </div>
{% endblock %}
