{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('pages.error.pageTitle') }}{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ status }}</h1>
            <p class="govuk-body">{{ error }}</p>
            <div class="back-to-login">
            {{ govukButton({ text: t('Back to login'), href: '/login' })}}
            </div>
        </div>
    </div>
{% endblock %}
